/* fonts*/

@font-face {
  font-family: kiona-regular;
  src: url('./assets/Kiona-Regular.ttf');
}

@font-face {
  font-family: space-age;
  src: url('./assets/space_age.ttf');
}

/* General Settup */
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-color: #515763;
}

/* body */
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #c6cacb;
  border: none;
  border-radius: 10px 100px/ 120px;
}
.card-img-top {
  border-radius: 10px 100px/ 120px;
}
.modal-content {
  border-radius: 30px / 40px 10px;
}

/*BUTTONS*/

.modal-footer .btn {
  margin-right: 30px;
}
.btn-dark {
  background-color: #758b99;
}
